{% extends "base.html" %}

{% block content %}
    <h1>Detail</h1>
    <p>{{ object.name }}</p>

    {% if request.user.is_authenticated  %}
        <!-- Working need to put it in JS onClick -->
        {% if object in request.user.subscribed_lessons.all %}
            <button id="sub-btn" class="btn btn-primary" onclick="subscribe_onClick()">Unsubscribe</button>
        {% else %}
            <button id="sub-btn" class="btn btn-primary" onclick="subscribe_onClick()">Subscribe</button>
        {% endif %}
    {% endif %}

    <a href="{% url 'lessons:list' %}">List</a>

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        function subscribe_onClick() {
            $.ajax({
                type: "POST",
                url: "{% url 'lessons:subscribe' object.pk %}",
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response) {
                    var btn_text = "";
                    if(response.is_sub)
                        btn_text = "unsubscribe";
                    else
                        btn_text = "subscribe";


                    $("#sub-btn").text(btn_text);
                },
                error: function(rs, e) {
                    console.log(rs.responseText);
                }
            });
        }
    </script>
{% endblock %}
