{% extends "base.html" %}
{% load static %}
{% load imagekit %}

{% block title %}Vertineuch : {{ object.first_name }} {{ object.last_name }}{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-3 profile-infos">
                <img src="{{ object.avatar.url }}"/>
                <h2>{{ object.username }}</h2>
                <p>{{ object.first_name }} {{ object.last_name }}</p>
                <p>{{ object.email }}</p>

                <!-- show phone number only to teachers -->
                <!-- teacher have their phone number shown -->
                {% if request.user.is_teacher or object.is_teacher %}
                    <p>{{ object.phone_number }}</p>
                {% endif %}


                {% if object.is_teacher %}
                    <p class="text-primary">Enseignant</p>
                {% endif %}

                {% if object == request.user %}
                    <br>
                    <!-- Action buttons -->
                    <div class="row">
                        <a class="col-sm-12 btn btn-primary" href="{% url 'users:update' %}" role="button">Modifier le
                            profil</a>
                    </div>
                    <!-- End Action buttons -->
                {% endif %}
            </div>


            <div class="col-md-9">
                <div>
                    <h2>Lessons</h2>
                    <ul>
                        {% for l in object.subscribed_lessons.all %}
                            <li>
                                <a class="" href="{% url 'lessons:detail' l.pk %}"
                                   role="button">{{ l.name }}</a><br/>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% if object.is_teacher %}
                    <div>
                        <h2>Mes lessons</h2>
                        <ul>
                        {% for l in object.teacher.all %}
                            <li>
                                <a class="" href="{% url 'lessons:detail' l.pk %}"
                                   role="button">{{ l.name }}</a><br/>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>


    </div>
{% endblock content %}

